body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BCFFFB;
}

.container {
    display: flex;
    flex-direction: column; /* Change direction to left to right */
    /*flex-wrap: wrap;  /*Allow containers to wrap to the next line if needed */
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 80%;
}

.column {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box;
    background-color: #BDF3FE;
}

.specs, .kpi {
    margin-left: 220px;
}

.specs h2, .kpi h2 {
    margin-bottom: 10px;
    color: #333;
}

.specs ul, .kpi ul {
    list-style-type: none;
    padding: 0;
}

.specs ul li, .kpi ul li {
    margin-bottom: 10px; /* Increased margin for better separation */
    color: #666;
}

input[type="text"], select {
    padding: 10px; /* Increased padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
}

/* Ensuring all text boxes have the same width */
input[type="text"], select, textarea {
    width: calc(100% - 30px); /* 30px for label width */
}

.submit-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #d1d7d1;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

label {
    width: 150px;
    margin-right: 10px;
}

h1,.alignment{
    display: flex; 
    justify-content: center; 
    color: rgb(0, 2, 0); 
}


.logo {
    padding: 20px;
    top: 0px;
    left: 0px;
    width: 70px; /* Resize the image */
    height: auto;
    z-index: 1000;

}

.gui{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: auto;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}



